@import "../../App.scss";
.dashboard {
  position: relative;

  section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 62px;
    background: #fcfcfc;

    width: 100%;

    @include extraSmallMobile {
      margin-top: 40px;
    }

    .dashboard__section-alignment {
      position: relative;

      margin: 1.5rem 1.5rem 0 1.5rem;

      @include extraSmallMobile {
        margin: 0.5rem 0.5rem 0 0.5rem;
      }
    }

    .open {
      width: calc(100% - 300px);
    }

    .close {
      width: 100%;
      @include smallTablet {
        width: calc(100% - 80px);
      }
      @include extraSmallMobile {
        width: calc(100% - 30px);
      }
    }
  }
}
