.dashboard {
  position: relative;

  section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 62px;
    background: #fcfcfc;
    // background-color: green;

    // height: 120vh;

    .dashboard__section-alignment {
      width: 100%;
      margin: 1.5rem 1.5rem 0 1.5rem;
    }
  }
}
