div {
  position: relative;
  section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 62px;
    background: #fcfcfc;

    .dashboard__section-alignment {
      margin: 3rem;
    }
  }
}
