menu {
  display: block;
  z-index: 1;
  box-shadow: 8px 0px 8px 0px var(--shadow-color);
  max-width: 283px;
  font-family: "Work Sans", sans-serif;
  font-weight: normal;
  color: var(--primary-color);
  font-size: 16px;
  line-height: 18.77px;
  overflow-y: auto;
  max-height: calc(100vh - 58px);
  overflow-x: hidden;
  background: #fff;

  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);

  /* For Webkit browsers (Chrome, Safari) */

  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background: var(--scrollbar-track);
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
    border-radius: 14px;
  }

  li,
  a,
  h4 {
    margin-left: 2.25rem;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 100%;
    gap: 8px;
  }

  h4 {
    margin-top: 32px;
    margin-bottom: 16px;
  }

  a {
    padding-top: 32px;
    padding-right: 32px;
  }

  li {
    margin-top: 32px;

    &:last-child {
      padding-bottom: 32px;
    }
  }
}
