@import "../../App.scss";

menu {
  display: block;
  z-index: 1;
  box-shadow: 8px 0px 8px 0px var(--shadow-color);
  max-width: 263px;
  font-family: "Work Sans", sans-serif;
  font-weight: normal;
  color: var(--primary-color);
  font-size: 16px;
  line-height: 18.77px;
  overflow-y: auto;
  // to change later to vh
  max-height: 100%;
  overflow-x: hidden;
  background: #fff;
  width: 100%;

  @include extraSmallMobile {
    max-width: 200px;
    font-size: 14px;
    line-height: 1.5;
    overflow-x: hidden;
    height: auto;
  }

  @include smallTablet {
    max-width: 228px;
    font-size: 16px;
    line-height: 1.5;
    overflow-x: hidden;
    height: auto;
  }

  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);

  /* For Webkit browsers (Chrome, Safari) */

  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background: var(--scrollbar-track);
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
    border-radius: 14px;
  }

  li,
  a,
  h4 {
    margin-left: 2.25rem;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 100%;
    gap: 8px;

    @include extraSmallMobile {
      margin-left: 12px;
      gap: 6px;
    }

    @include smallTablet {
      margin-left: 16px;
      gap: 6px;
    }
  }

  h4 {
    margin-top: 32px;
    margin-bottom: 16px;

    @include extraSmallMobile {
      margin-top: 16px;
      margin-bottom: 8px;
    }

    @include smallTablet {
      margin-top: 24px;
      margin-bottom: 10px;
    }
  }

  a {
    padding-top: 32px;

    @include extraSmallMobile {
      padding-top: 16px;
    }

    @include smallTablet {
      padding-top: 24px;
    }
  }

  li {
    margin-top: 32px;

    @include extraSmallMobile {
      margin-top: 16px;
    }
    @include smallTablet {
      margin-top: 24px;
    }

    // @include smallTablet {
    //   margin-top: 18px;
    // }

    &:last-child {
      padding-bottom: 32px;

      // @include smallTablet {
      //   margin-top: 8px;
      // }
    }
  }
}
