@import "../../App.scss";

.user__info_display {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;

  @include extraSmallMobile {
    gap: 1rem;
  }
}
