* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --primary-color: #213f7d;
  --secondary-color: #39cdcc;
}

a {
  text-decoration: none;
  color: unset;
}
