* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  // &::-webkit-scrollbar {
  //   display: none !important;
  // }
}

html {
  scroll-behavior: smooth;
}

:root {
  --primary-color: #213f7d;
  --secondary-color: #39cdcc;
  --bg-color: #fbfbfb;
  --shadow-color: #726d6d1a;
  --input-color: #545f7d;
  --input-border-color: #f6f6f6;
  --hover-color: #36c7c7;
  --scrollbar-track: #fff;
  --default-color: #fff;
  --scrollbar-thumb: #888;
}

a {
  text-decoration: none;
  color: unset;
}
